*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;  
}

img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.img-ds {
    display: block;
}

.main-container {
    display: flex;
    align-items: center;  
    justify-content: center;  
    flex-direction: column;
    gap: 1em;
    min-height: 100vh;
}

.main-card {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
}

.card-body {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 0 0 10px 10px;
}

.mrg-tb {
    margin: 1em 0;
}

.ff-fraunce {
    font-family: 'Fraunces', serif;
}

.perfume {
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: .75rem;
}

.text {
    color:  hsl(228, 12%, 48%);
    line-height: 1.5;
    font-size: .9rem;
    width: 90%;
}

.new-price {
    color: hsl(158, 36%, 37%);
    margin-right: .5em;
}

.original-price {
    color:  hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: relative;
    bottom: 6px;
}

.display-headings {
    display: inline-block;
}

.btn {
    display: block;
    background-color: hsl(158, 36%, 37%);
    padding: 1em 0;
    border-radius: 10px;
    text-align: center;
}

.btn-link {
    text-decoration: none;
    color: #eee;
}

.btn:hover {
    background-color: rgb(42, 70, 42);
    cursor: pointer;
}

.attribution {
    font-size: .75rem;
}

/* media query for larger screen size*/
@media (min-width: 700px) {

    .main-card {
        display: flex;
        max-width: 700px;   
    }

    .mrg-tb {
        margin: 1.5em 0;
    }

    .product-img {
        width: 50%;
        background-image: url(../images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 0.7rem 0 0 0.7rem;
        background-repeat: no-repeat;
    }

    .product-img img {
        display: none;
    }

    img {
        border-radius: 10px 0 0 10px;
    }

    .perfume-name {
        width: 90%;
    }

    .card-body {
        border-radius: 0 10px 10px 0;
        max-width: 45%;
        padding: 1.5em 0 0 2em;
    }

    .content {
        width: 85%;
    }

    .text {
        width: 95%;
    }
}