*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

img{
    max-width: 100%;
}

.main-card {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
}

.card-body {
    background-color: #fff;
    padding: 1.5em;
}

.mrg-tb {
    margin: 1em 0;
}

.perfume {
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: .75rem;
}

.perfume-name {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

