*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.main-card {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
}

.img-ds {
    display: block;
}

.card-body {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 0 0 10px 10px;
}

.mrg-tb {
    margin: 1em 0;
}

.ff-fraunce {
    font-family: 'Fraunces', serif;
}

.perfume {
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: .75rem;
}

.text {
    color:  hsl(228, 12%, 48%);
    line-height: 1.5;
    font-size: .9rem;
}

.new-price {
    color: hsl(158, 36%, 37%);
    margin-right: .5em;
}

.original-price {
    color:  hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: relative;
    bottom: 6px;
}

.display-hd {
    display: inline-block;
    padding-top: .5em;
}

.btn {
    display: block;
    background-color: hsl(158, 36%, 37%);
    padding: 1em 0;
    border-radius: 10px;
    text-align: center;
}

.btn-link {
    text-decoration: none;
    color: #eee;
}

@media (min-width: 700px) {

    img {
        border-radius: 10px 0 0 10px;
    }

    .main-card {
        display: flex;
        max-width: 700px;
        justify-content: center;
    }

    .content {
        width: 88%;
        margin: 0 auto;
    }

    .card-body {
        border-radius: 0 10px 10px 0;
        max-width: 50%;
    }

    .perfume-name {
        width: 90%;
    }
}